* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tools-content {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools {
  background-color: aliceblue;
  border-radius: 10px;
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tool {
  height: 70%;
  width: 10%;
  position: relative;
}

.tool img {
  height: 100%;
  transition: transform 0.5s;
}

.tool img:hover {
  transform: scale(1.1);
}

.canvas-content {
  /* width: 100%; */
  /* height: calc(100vh - 60px); */
  overflow: hidden;
}

#canvas {
}

.tool-options {
  height: 100px;
  width: 100px;
  border: 1px solid lightgray;
  border-radius: 10px;
  position: absolute;
  top: 45px;
  left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aliceblue;
}

.pencil-size,
.eraser-size {
  text-align: center;
}

.pencil-size input,
.eraser-size input {
  width: 90%;
}

.pencil-colors {
  display: flex;
  justify-content: space-around;
}

.pencil-colors div {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.hide {
  display: none;
}
