* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tools-content {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools {
  background-color: lightblue;
  border-radius: 10px;
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tool {
  height: 80%;
}

.tool img {
  height: 100%;
}

.canvas-content {
  /* width: 100%; */
  /* height: calc(100vh - 60px); */
  overflow: hidden;
}

#canvas {
}
